* {
    box-sizing: border-box;
}

/*beach colors*/
:root {  
--primary: #2ed2f6; 
--secondary: #071deb;
--tertiary: #060404;
--quaterary: #f0eda4;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: var(--tertiary);
    background-color: var(--primary);
    line-height: 3.5;
}

h1,
h2,
h3,
h4, {
    margin: 0;
}

p {
margin: 0;
padding: 10px;
color: var(--secondary);
}


header {
    padding: 15px 10% 15px 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--primary);
    box-shadow: 0 5px 24px var(--secondary);
}

header h1 {
    color: var(--secondary);
    background-color: var(--quaterary);
    border: solid 5px var(--tertiary);
    padding: 30px 1 30px 1;
    margin: 0;
    font-size: 60px;
    line-height: 1.5;
}

nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;  
        border: solid 5px var(--tertiary);
}

nav a {
    text-decoration: underline;
    padding: 5px 10px;
    color: var(--secondary);
    background-color: var(--quaterary);
    margin-right: 0;
    background-image: linear-gradient(100deg var(--quaterary) 0%, var(--tertiary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--primary);
}

nav a:last-child {
    margin-right: 0;
}

main {
    margin-top: 24px;
    margin-bottom: 45px;
}



p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    margin: 0%;
    border: 5px solid var(--tertiary);
    background-color: var(--quaterary);
}

.hero-banner {
    background: var(--tertiary);
    background-image: url(./3bfd131d661215be9eb16819c8e8b34d.jpg);
    background-size: cover;
    background-position: bottom;
    color: var(--secondary);
    text-align: center;
    font-style: bold;
    padding: 10px 5%;
    display: flex;
    justify-content:center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    width: 100% 
}

.hero-banner div {
    flex: 0 0 90%;
}

.hero-banner h2 {
    background-color: var(--quaterary);
    border: solid 5px var(--tertiary);
    color: var(--tertiary);
    margin: 0;
    padding: 5px 10px;
    font-size: 2.3rem;
    line-height: 1.2;
    display: inline;
  }

  .page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .page-section {
    margin: 25px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }

  .page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border: solid 5px var(--tertiary);
    font-size: 4vw;
    line-height: 1.1;
    background-color: var(--quaterary) ;
  }

 .page-section#about-me h2 {
    background-image: url("./Selfie.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
 }

  .page-section > div {
    flex: 0 0 77%;
  }

  .page-section p {
    margin-bottom: 20px;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .flex-item {
    border: 5px solid var(--tertiary);
    background-color: var(--quaterary);
    color: var(--secondary);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: solid;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
  }

  /* feature portfolio item */
  .flex-item:first-child {
    min-height: 400px;
    flex-basis: 100px;
  }

  .flex-item:hover {
    background-color: var(--primary);
  }

  .flex-item div {
    background-color: var(--primary);
    padding: 8px 10px;
    display: flex;
    width: 300px;
    height: 100px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.flex-item h3 {
  display: flex;
  margin: 0;
  color: var(--quaterary);
  }

  .flex-item span {
    display: flex;
    color: var(--quaterary);
}

.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

.contact address a {
    color: var(--tertiary);
    padding: 5px;
    text-decoration: underline;
    font-size: 30px;
    font-style: italic;
    background-image: linear-gradient(270deg, var(--quaterary) 0%, var(--quaterary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    margin: 0 0.2rem 0.1rem;
    display: inline-block;
}

.contact address a:hover {
    background-size: 100% 88%;
    color: var(--tertiary);
}

/*Placeholder images until i finish more projects*/

.code-refactor {
    background-image: url("./Screenshot.png");
}

.example-1  {
    background-image: url("https://afar.brightspotcdn.com/dims4/default/0e26212/2147483647/strip/true/crop/1000x528+0+70/resize/527x278!/quality/90/?url=https%3A%2F%2Fafar-media-production-web.s3.amazonaws.com%2Fbrightspot%2Ffe%2F72%2F3022f3ee4339b33ede9be6a3c564%2Fshutterstock-1104786284.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.example-2 {
    background-image: url("https://www.freewebheaders.com/wp-content/gallery/water-coast/water-coast-header-47622-800x200.jpg");
    background-size: cover;
}

.example-3 {
    background-image: url("https://media.istockphoto.com/id/1346457565/photo/beautiful-tropical-island-panorama-white-sand-beach-turquoise-sea-water-ocean-waves-sun-blue.webp?b=1&s=170667a&w=0&k=20&c=yqjr057pRKXTcV65I9PUkUA96NWGfGZY3ongsRb_lts=");
    background-size: cover;
}


@media screen and (max-width: 980px) {
    header {
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center; 
    }

    header h1 {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        font-size: 10vw;
    }

    header nav {
      justify-content: center;
    }

    .page-section > h2,
    .page-section > div {
        flex: 0 0 100%;
    }

    .page-section > h2 {
        border-right: none;
        border-bottom: 5px solid var(--tertiary);
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 7vw
    }
}

@media screen and (max-width: 768px) {
    .flex-item,
    .flex-item:first-child {
      flex-basis: 100%;
    }
  
    .flex-item:first-child {
      min-height: 150px;
    }
  
    .hero-banner {
      justify-content: center;
      text-align: center;
    }
  
    .contact address {
      flex-direction: column;
      align-items: flex-start;
    }
  }